[build]
  command = "npm run build:netlify"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/proxy-s3*"
  to = "/.netlify/functions/proxy-s3"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
